*{
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: monospace;
   background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(/icons/photo-1498050108023-c5249f4df085.avif);
   background-size: cover;
   background-position: center;
   height: 100vh;
  
    
}
body::-webkit-scrollbar {
    display: none;
  }